body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    font-family: "Arial";
  }
  p {
    color: #fff;
  }
  
  a {
    color: #fff;
  }
  .login {
    width: 800px;
    overflow: hidden;
    margin: auto;
    margin: 10 0 0 50px;
    padding: 80px;
    background: #23463f;
    border-radius: 15px;
  }
  h2 {
    text-align: center;
    color: #277582;
    padding: 10px;
  }
  label {
    color: #08ffd1;
    font-size: 17px;
  }
  #UserEmail {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
  }
  #Pass {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
  }
  #log {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    background-color: #d8e3ab;
  }
  span {
    color: white;
    font-size: 17px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    margin-top: 50px;
    padding: 6px 20px;
    background-color: #3af1d0;
  }
  